/* CSS para body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: black;
}

/* ... (código anterior) ... */

/* CSS para el pie de página */
footer {
    background: linear-gradient(90deg, #1a1a1a, #007BFF);
    color: #fff;
    padding: 20px;
}

/* ... (código anterior) ... */

/* CSS para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #1a1a1a, #007BFF);
}

::-webkit-scrollbar-thumb {
    background-color: #0056b3;
    border-radius: 6px;
    border: 3px solid #007BFF;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #004080;
}

::-webkit-scrollbar-corner {
    background: #1a1a1a;
}

/* Consulta de medios para dispositivos móviles */
@media screen and (max-width: 768px) {
    /* CSS para header */
    header {
        padding: 15px;
    }

    /* CSS para el bloque de bienvenida */
    .inicio {
        padding: 30px 15px;
    }

    /* CSS para el carrusel de imágenes */
    .carrusel {
        padding: 15px;
    }

    .slick-slider {
        max-width: 100%;
    }

    /* CSS para donativos */
    .donativos {
        padding: 30px 15px;
    }

    /* CSS para el inicio de sesión y texto de bienvenida */
    .iniciar-sesion,
    .ya-iniciado {
        padding: 30px 15px;
    }

    /* CSS de contacto */
    .redes-y-sugerencias {
        padding: 30px 15px;
    }

    #formulario-sugerencias {
        margin-top: 15px;
    }
}