/* CSS para body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: black;
}

/* CSS para header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #1a1a1a, #007BFF);
    padding: 30px;
    color: #fff;
}

#recursosTitulo {
    text-align: center;
}

/* CSS para ajustar el logo */
.logo img {
    max-height: 50px;
}

/* CSS para la barra navegante */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #0056b3;
}

/* CSS para el buscador */
.search-bar {
    display: flex;
    margin-left: auto;
}

.search-bar input {
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    background-color: #1a1a1a;
    color: #fff;
    border: 2px solid #004080;
}

.search-bar button {
    padding: 15px 30px;
    background: linear-gradient(90deg, #007BFF, #0056b3);
    color: #fff;
    border: 2px white;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.search-bar button:hover {
    background: linear-gradient(90deg, #0056b3, #004080);
}

/* CSS para el bloque de bienvenida */
.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 30px;
}

.logo-block {
    margin-right: -400px; /* Puedes ajustar el margen entre el logo y el texto según tus preferencias */
}

.logo-block img {
    max-width: 50%;
    max-height: 50%; /* Ajusta el ancho máximo de la imagen según tus necesidades */
}

.texto-bienvenida {
    max-width: 70%;
    text-align: center;
    color: black;
    font-size: 28px;
    line-height: 1.5;
}
/* CSS para el carrusel de imágenes */
.carrusel {
    padding: 50px;
    z-index: 1;
    color: black;
}

.slick-slider {
    max-width: 800px; 
    margin: 0 auto; 
    position: relative;
}

.slick-slider img {
    width: 100%;
    transition: opacity 0.3s ease; 
}

.carrusel-item {
    position: relative;
}

.carrusel-item:hover img {
    opacity: 0.7;
}

.carrusel-item:hover .caption {
    opacity: 1;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); 
    padding: 10px;
    text-align: center;
    color: white;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

/* CSS para las flechas del carrusel
.slick-prev {
    font-size: 32px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    background: linear-gradient(90deg, #ff0080, #1a1a1a);
    padding: 20px;
    border-radius: 50%;
}

.slick-next {
    font-size: 32px;
    color: rgb(84, 0, 0);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    background: linear-gradient(90deg, #ff0080, #1a1a1a);
    padding: 20px;
    border-radius: 50%;
}*/

.slick-prev, .slick-next {
    font-size: 24px;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.slick-prev {
    left: 10px;
    z-index: 2; /* Asegura que la flecha de la izquierda tenga un z-index mayor */
}

.slick-next {
    right: 10px;
}


/* CSS para donativos */
.donativos {
    text-align: center;
    padding: 100px 30px;
    background: linear-gradient(90deg, #282828, #1a1a1a);
}

.info-bancaria {
    margin-top: 30px;
    border: 2px solid #444;
    padding: 20px;
    border-radius: 15px;
}

.iniciar-sesion, .ya-iniciado {
    text-align: center;
    padding: 100px 30px;
}

#login-button {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(90deg, #007BFF, #0056b3); 
    color: #fff;
    border: none;
    border-radius: 15px;
    transition: background 0.3s ease;
}

#login-button:hover {
    background: linear-gradient(90deg, #0056b3, #004080); 
}

#bienvenidoMensaje {
    color: #28a745;
    font-size: 24px;
}

.redes-y-sugerencias {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 100px 30px;
}

.sigueme-en-redes,
.sugerencias {
    flex: 1;
}

.sigueme-en-redes a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF; 
    font-size: 18px;
    transition: color 0.3s ease;
}

.sigueme-en-redes a:hover {
    color: #0056b3; 
}

.sugerencias {
    flex: 1;
    text-align: left;
}

#formulario-sugerencias {
    margin-top: 30px;
}

#sugerencia-text {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    height: 150px;
    resize: none;
    border: 2px solid #555;
    border-radius: 10px;
}

#enviar-sugerencia-button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(90deg, #007BFF, #0056b3); 
    color: #fff;
    border: none;
    border-radius: 15px;
    transition: background 0.3s ease;
}

#enviar-sugerencia-button:hover {
    background: linear-gradient(90deg, #0056b3, #004080);
}

/* CSS para el pie de página */
footer {
    background: linear-gradient(90deg, #1a1a1a, #007BFF);
    color: #fff;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1 1 300px;
    margin: 20px;
    text-align: center;
}

.footer-section h4 {
    color: #fff;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 16px;
    margin-top: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #007BFF;
}

.footer-bottom {
    background: linear-gradient(90deg, #333, #1a1a1a);
    padding: 20px 0;
    text-align: center;
    color: #fff;
    clear: both;
    font-size: 16px;
}

/*CSS para la barra de desplazamiento*/
::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #1a1a1a, #007BFF);
}

::-webkit-scrollbar-thumb {
    background-color: #0056b3; 
    border-radius: 6px;
    border: 3px solid #007BFF; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #004080;
}

::-webkit-scrollbar-corner {
    background: #1a1a1a;
}

.menu-btn {
    display: none;
}

@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    .logo img {
        display: none; /* Reducir el tamaño del logo para pantallas pequeñas */
    }

    nav {
        display: none; /* Ocultar la barra de navegación en pantallas pequeñas */
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    nav ul {
        display: none; /* Ocultar la lista de elementos de navegación */
    }

    /* Mostrar el menú desplegable al hacer clic en un botón */
    .menu-btn {
        display: block;
        background: none;
        border: none;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
    }

    .menu-btn:focus + .mobile-nav {
        display: flex;
        left: 0;
    }

    .menu-btn:focus + .mobile-nav .close-btn {
        display: block;
    }

    .search-bar {
        align-items: center;
        margin-top: auto; /* Añadir margen superior al buscador */
    }

    .inicio {
        padding: 50px 10px; /* Reducir el espacio en la parte superior e inferior del bloque */
        flex-direction: column; /* Cambiar la dirección del flex container a columna */
        align-items: center; /* Centrar los elementos en la dirección principal (ahora columna) */
    }

    .logo-block {
        margin-right: 0;
        align-items: center;
        text-align: center; /* Eliminar el margen derecho para centrar el logo en la columna */
    }

    .logo-block img {
        max-height: 300px;
        align-items: center;
        text-align: center; /* Restaurar el tamaño del logo para pantallas pequeñas */
    }

    .texto-bienvenida {
        max-width: 100%; /* Hacer que el texto ocupe todo el ancho disponible */
        font-size: 20px; /* Ajustar el tamaño del texto para pantallas pequeñas */
        margin-top: 20px; /* Añadir espacio superior al texto */
    }

    .redes-y-sugerencias {
        flex-direction: column-reverse; /* Cambiar la dirección del flex container a columna */
    }

    .sigueme-en-redes {
        width: 100%;
        margin-top: 50px; /* Asegurar que ambos elementos ocupen el ancho completo */
    }

    .sugerencias {
        width: 100%; /* Asegurar que ambos elementos ocupen el ancho completo */
    }

    .footer-section h4 {
        font-size: 1.5em; /* Tamaño de fuente más grande para categorías */
        margin-bottom: 5px; /* Pequeño espacio inferior entre categorías y subcategorías */
    }
    
    .footer-section p {
        font-size: 1em; /* Tamaño de fuente normal para subcategorías */
        margin-top: 5px; /* Pequeño espacio superior entre subcategorías */
    }

    .mobile-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transition: left 0.3s ease;
        background: #fff;
        z-index: 1; /* Asegurar que el menú aparezca sobre otros elementos */
    }

    .mobile-nav.show-menu {
        display: flex;
        left: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        z-index: 3;
        color: black;
        text-align: center;
        justify-content: center;
    }
    
    .close-btn {
        display: none;
        background: none;
        border: none;
        color: #000; /* Ajusta el color del botón según tus preferencias */
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .mobile-nav.show-menu .close-btn {
        display: block;
    }

    .mobile-nav ul {
        list-style: none;
        padding: 0;
    }

    .mobile-nav a {
        text-decoration: none;
        color: #000; /* Ajusta el color de los enlaces según tus preferencias */
        font-size: 18px;
        margin: 15px 0;
        transition: color 0.3s ease;
    }

    .mobile-nav a:hover {
        color: #007BFF; /* Ajusta el color al pasar el ratón por encima según tus preferencias */
    }
}    






